<div class="row">
  <h1 class="col-md-6">Teams</h1>
  <div class="col-md-6 text-right">
    <%= link_to new_team_path, class: "btn btn-success my-2" do %>
      <i class="mdi mdi-plus mr-2" aria-hidden="true"></i>
      Create New Team
    <% end %>
  </div>
</div>

<table class="table table-bg table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Logo</th>
      <th>Name</th>
      <th>Total wins</th>
      <th>Total draws</th>
      <th>Total loses</th>
      <th>Winning percentage</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each_with_index do |team, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <% if team.logo.attached? %>
            <%= image_tag team.logo.variant(resize: "50x50") %>
          <% else %>
            <%= image_pack_tag "media/images/team_logo.jpg", size: "50x50" %>
          <% end %>
        </td>
        <td><%= team.name %></td>
        <td><%= team.total_wins %></td>
        <td><%= team.total_draws %></td>
        <td><%= team.total_loses %></td>
        <td>
          <% if (team.total_wins + team.total_draws + team.total_loses).eql? 0 %>
            N/A
          <% else %>
            <%= (team.total_wins * 100) / (team.total_wins + team.total_draws + team.total_loses) %> %</td>
          <% end %>
        <td>
          <%= link_to team  do %>
            <i class="mdi mdi-eye mr-2" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_team_path(team) do %>
            <i class="mdi mdi-account-edit mr-2" aria-hidden="true"></i>
          <% end %>
          <%= link_to team, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="mdi mdi-delete mr-2" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
