<div class="row">
  <h1 class="col-md-6">Seasons</h1>
  <div class="col-md-6 text-right">
    <% if !Season.any? or Season.last.ended? %>
      <%= link_to new_season_path, class: "btn btn-success my-2" do %>
        <i class="mdi mdi-plus mr-2" aria-hidden="true"></i>
        Create New Season
      <% end %>
    <% else %>
      <p class="text-info">New season can not be created when a season is running.</p>
    <% end %>
  </div>
</div>

<table class="table table-bg table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Status</th>
      <th>Ranking</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @seasons.reverse.each_with_index do |season, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= season.title %></td>
        <td>
          <%= render_status_badge(season) %>
        </td>
        <td>
          <%= link_to ranking_season_path(season), title: 'View ranking', 'data-toggle': 'tooltip', 'data-placement': 'right', class: "btn btn-sm btn-primary"  do %>
            <i class="mdi mdi-poll mx-4" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link_to season, title: 'View', 'data-toggle': 'tooltip', 'data-placement': 'right'  do %>
            <i class="mdi mdi-eye mr-2" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_season_path(season), title: 'Edit', 'data-toggle': 'tooltip', 'data-placement': 'right' do %>
            <i class="mdi mdi-account-edit mr-2" aria-hidden="true"></i>
          <% end %>
          <% if season.running? %>
            <%= link_to manage_team_season_path(season), title: 'Manage team', 'data-toggle': 'tooltip', 'data-placement': 'right' do %>
              <i class="mdi mdi-cog mr-2" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <% if season.ended? %>
            <%= link_to season, title: 'Delete', 'data-toggle': 'tooltip', 'data-placement': 'right', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="mdi mdi-delete mr-2" aria-hidden="true"></i>
            <% end %>
          <% elsif season.games.any? %>
            <%= link_to close_season_path(season), title: 'Close season', 'data-toggle': 'tooltip', 'data-placement': 'right', data: { confirm: 'Are you sure?' } do %>
              <i class="mdi mdi-flag-remove mr-2" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
