<div class="row">
  <h1 class="col-md-6">Ranking</h1>
</div>

<table class="table table-bg table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Team Name</th>
      <th>Won Games</th>
      <th>Lost Games</th>
      <th>Drawn Games</th>
      <th>Games played</th>
      <th>Points</th>
    </tr>
  </thead>
    <% @ranking.each_with_index do |(key, value), index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= value[:team_name] %></td>
        <td><%= value[:games_won] %></td>
        <td><%= value[:games_lost] %></td>
        <td><%= value[:games_drawn] %></td>
        <td><%= value[:games_played] %></td>
        <td><%= key %></td>
      </tr>
    <% end %>
  <tbody>
  </tbody>
</table>
