<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @season.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @season.status %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
