<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootballLeague</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_pack_tag "media/images/favicon.png" %>
  </head>

  <body>
    <%= render "application/navbar" %>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="auto-hide alert <%= bootstrap_class_for(type) %>">
          <%= message.html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render "application/footer" %>
  </body>
</html>
